@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

:root{
    --icon:#FFFFFF;
    --background:#FBFBFB;
    --disabled:#F3E8FF;
    --stroke-text-off:#8F8F8F;
    --stroke-text:#000000;
    --mega-accent:#FFEF10;
    --primary:#923FD5;
    --secondary:#C28AF0;
    --accent:#A94AF7;
}

*{
    margin: 0px;
}

body{
    background: var(--background);
}

header{
    background: var(--primary);
    padding: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons-left button{
    width: 2rem;
    height: 2rem;
    background: var(--background);
    border: 2px solid var(--stroke-text);
    border-radius: 0.625rem;
    margin-right: 1.5rem;
    cursor: pointer;
}

.buttons-left button[name="recharge"]{
    margin-right: 0px;
    
}

.buttons-left button path{
    stroke: var(--stroke-text);
    stroke-width: 2px;
    
}

.search-url{
    width: 30%;
    height: 2.5rem;
    background: var(--background);
    border: 2px solid var(--stroke-text);
    border-radius: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
}

.search-url p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.buttons-right button{
    width: 2rem;
    height: 2rem;
    background: var(--background);
    border: 2px solid var(--stroke-text);
    border-radius: 0.625rem;
    margin-right: 1.5rem;
    cursor: pointer;
}

.buttons-right button[name="settings"]{
    margin-right: 0px;
}

.buttons-right button svg{
    display: flex;
    align-items: center;
    justify-content: center;  
}

header button:hover{
    background: var(--secondary);
    border: 2px solid var(--stroke-text);
}

header button:hover path{
    stroke: var(--stroke-text);
}



