@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Share+Tech+Mono&display=swap');
:root{
    --icon:#FFFFFF;
    --background:#FBFBFB;
    --disabled:#F3E8FF;
    --stroke-text-off:#8F8F8F;
    --stroke-text:#000000;
    --mega-accent:#FFEF10;
    --primary:#923FD5;
    --secondary:#C28AF0;
    --secondary-2:#d8c2eb;
    --accent:#A94AF7;
    --accent-hover:#8b32d3;
}
*{
    margin: 0px;
}

body{
    overflow: hidden;
    background:
    linear-gradient(to right, var(--secondary-2) 2px, transparent 2px),
    linear-gradient(to bottom, var(--secondary-2), transparent 2px);
    background-size: 120px 70px;
}

/*Header*/

header{
    background: var(--primary);
    padding: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons-left button{
    width: 2rem;
    height: 2rem;
    background: var(--background);
    border: 2px solid var(--stroke-text);
    border-radius: 0.625rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.buttons-left button[name="recharge"]{
    margin-right: 0px;
    
}

.buttons-left button path{
    stroke: var(--stroke-text);
    stroke-width: 2px;
    
}

.search-url{
    width: 55%;
    height: 2.5rem;
    background: var(--background);
    border: 2px solid var(--stroke-text);
    border-radius: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
}

.search-url p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.buttons-right button{
    width: 2rem;
    height: 2rem;
    background: var(--background);
    border: 2px solid var(--stroke-text);
    border-radius: 0.625rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.buttons-right button[name="settings"]{
    margin-right: 0px;
}

.buttons-right button svg{
    display: flex;
    align-items: center;
    justify-content: center;  
}

header button:hover{
    background: var(--secondary);
    border: 2px solid var(--stroke-text);
}

header button:hover path{
    stroke: var(--stroke-text);
}



/*Logo*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo{
    margin-top: 4.5rem;
    margin-bottom: 3rem;
}

.logo h1{
    color: var(--primary);
    font-family: 'Share Tech Mono', monospace;;
    font-size: 10rem;
    font-style: normal;
    line-height: normal;
}

/*Pesquisa*/

.search{
    width: 33rem;
    height: 2rem;
    border: 3px solid var(--stroke-text);
    border-radius: 0.7rem;
    background: var(--secondary-2)
}

.search form select{
    -webkit-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 30.6rem;
    height: 2rem;
    border: none;
    background: none;
    transform: translateY(-0.7rem);
    padding-left: 1rem;
    font-size: 0.9rem;
    font-family: 'Open Sans';
    font-weight: 500;
}

select option{
    background: var(--background);
}

select:focus {
    outline: none; 
    box-shadow: none;
  }

.search form button{
    margin-right: 0px;
    background:var(--accent);
    width: 2.12rem;
    height: 2rem;
    border: none;
    border-radius: 0.4rem;
    border-left: 3px solid var(--stroke-text);
    cursor: pointer;
    transform: translate(1px);
}

.search form button:hover{
    background: var(--accent-hover);
}

/*Apps*/

.apps{
    margin: 4rem;
    display: flex;
    text-align: center;
    
}

.app button{
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 2px solid var(--stroke-text);
    background: var(--accent);
    margin: 1.5rem;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
    cursor: pointer;
    z-index: 4;
}

.app button:hover{
    background: var(--accent-hover);
}

.app button:active{
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0);
}

.app p{
    font-family: 'Open Sans', sans-serif;
    transform: translate(1px);
}

.accent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    transform: translate(-2.29rem, -7.5rem);
}

.accent p{
    transform: translateX(3.55rem);
    font-size: 0.9rem;
    font-family: 'Open Sans';
    font-weight: 500;
}

@media(max-width: 640px){

    body{
        overflow: hidden;
        background:
        linear-gradient(to right, var(--secondary-2) 2px, transparent 2px),
        linear-gradient(to bottom, var(--secondary-2), transparent 2px);
        background-size: 100px 70px;
    }

    main{
        height: none;
        justify-content: none;
    }

    header{
        display: flex;
        margin-bottom: 20%;
        /*justify-content: flex-start;*/
    }

    .buttons-left button{
        display: none;
    }

    header .search-url{
        width: 80%;
        margin: 0rem 0.5rem 0rem 0rem;
        background: yellow;
    }

    .buttons-right{
        display: flex;
    }

    /*.apps{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    } */

    .logo{
        margin: 1.5rem;
    }

    .logo h1{
        font-size: 4.5rem;
    }

    .search{
        width: 90%;
        height: 2.2rem;
        border-radius: 5rem;
    }

    .search form select{
        transform: translateY(0rem);
    }

    .search form button{
        display: none;

    }

    .apps{
        margin: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .apps button{
        width: 3rem;
        height: 3rem;
        padding: 0.4rem;
        border-radius: 0.8rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    .apps p{
        font-size: 0.8rem;
    }

    .accent p{
        transform: translate(3.5rem, 2.1rem);
        font-size: 0.7rem;
        z-index: 4;
    }

    .accent svg{
        width: 1.6rem;
        height: 1.6rem;
        

        z-index: 3;
        transform: translate(-1.3rem, 2.1rem);
    }

}

@media(max-width: 511px){

    main{
        height: auto;
    }

    #blog{
        transform: translateY(-1rem);
    }
}

@media(max-width: 415px){

    #whatsapp{
        transform: translateY(-1rem);
    }
}

@media(max-height: 568px){

    header{
        margin-bottom: 0rem;
    }
}

    







