@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Lexend+Mega:wght@700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Outfit:wght@100&family=Share+Tech+Mono&display=swap');

:root{
    --icon:#FFFFFF;
    --background:#FBFBFB;
    --disabled:#F3E8FF;
    --stroke-text-off:#8F8F8F;
    --stroke-text:#000000;
    --mega-accent:#FFEF10;
    --primary:#923FD5;
    --secondary:#C28AF0;
    --secondary-2:#d8c2eb;
    --accent:#A94AF7;
    --accent-hover:#8b32d3;
}
*{
    margin: 0px;
}

body{
    height: 100vh;
    overflow: hidden;
}



/*Header*/

header{
    background: var(--primary);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons-left button{
    width: 2rem;
    height: 2rem;
    background: var(--background);
    border: 2px solid var(--stroke-text);
    border-radius: 0.625rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.buttons-left button[name="recharge"]{
    margin-right: 0px;
    
}

.buttons-left button path{
    stroke: var(--stroke-text);
    stroke-width: 2px;
    
}

.search-url{
    width: 55%;
    height: 2.5rem;
    background: var(--background);
    border: 2px solid var(--stroke-text);
    border-radius: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
}

.search-url p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.buttons-right button{
    width: 2rem;
    height: 2rem;
    background: var(--background);
    border: 2px solid var(--stroke-text);
    border-radius: 0.625rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.buttons-right button[name="settings"]{
    margin-right: 0px;
}

.buttons-right button svg{
    display: flex;
    align-items: center;
    justify-content: center;  
}

header button:hover{
    background: var(--secondary);
    border: 2px solid var(--stroke-text);
}

header button:hover path{
    stroke: var(--stroke-text);
}

section.top{
    display: flex;
    background: rgb(194, 255, 188);
}

.sender{
    display: flex;
    align-items: center;
    padding: 0.5rem 13% 0.5rem 0.3rem;
    border: 2px solid var(--stroke-text);

}

.msg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 87%;
    background: rgb(255, 234, 117);
    border: 2px solid var(--stroke-text);
    border-left: none;
}

.recipient{
    display: flex;
    align-items: center;
    margin: 0;

}

.actions{
    display: flex;
    align-items: center;
    display: flex;
}

.actions button{
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0rem 0.5rem;
    border-radius: 0.6rem;
    border: solid 2px var(--stroke-text-off);
    cursor: no-drop;
}

.perfil{
    height: 2.5rem;
    width: 2.5rem;
    margin: 0rem 0.9rem 0rem 0.3rem;
    background: var(--disabled);
    border-radius: 50%;
    border: 1px solid var(--stroke-text);
}

p.text-top{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

.container{
    width: 100%;
    display: flex;
    height: 100vh;
    background: orange;
}

.contacts{
    padding: 0.5rem 13% 0.5rem 0.3rem;
    border: 2px solid var(--stroke-text);
    background: rgb(208, 208, 255);
}

.contact{
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 0.3rem;
    border: 2px solid var(--stroke-text);

}

.info-contact h3{
    font-family: Inter;
    font-weight: 500;
    font-size: 1.3rem;
}

.info-contact h4{
    font-family: Inter;
    font-weight: 400;
    font-size: 1rem;
}

.accent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}

.accent p{
    transform: translateX(1.45rem);
    font-size: 0.9rem;
    font-family: 'Open Sans';
    font-weight: 500;
}






.chat{
    display: flex;
    align-items: center;
    background: rgb(255, 195, 195);

}


@media(max-width: 640px){


    main{
        height: none;
        justify-content: none;
    }

    header{
        display: flex;
        /*justify-content: flex-start;*/
    }

    .buttons-left button{
        display: none;
    }

    header .search-url{
        width: 80%;
        margin: 0rem 0.5rem 0rem 0rem;
        background: yellow;
    }

    .buttons-right{
        display: flex;
    }
}